<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>RailsVolunteerTracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body><nav class="navbar navbar-expand-lg bg-body-tertiary">
   <%= yield %>
  <div class="container">
    <a class="navbar-brand" href="/">Volunteers</a>
  </div>
</nav>
<div class="container py-4">
  
</div>


    <%= javascript_importmap_tags %>
  </body>
</html>
